<h3><center>NIVEL 1</center></h3>

In [5]:
# librería necesaria para tratar archivos xlsx
pip  install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [119]:
# librería necesaria para el gradiente del ej 5 nivel 1
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.10.7-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.60.1-cp313-cp313-win_amd64.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\barce\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.3.1)
Requirement already satisfied: packaging>=20.0 in c:\users\barce\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.3.0-cp313-cp313-win_amd64.whl.metadata (9.2 kB)
Collecting pyparsing>=3 (from matplotlib)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\barce\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\barce\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.7-cp313-cp313-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   -------------------------------------- - 7.9/8.1 MB 39.6 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 36.4 MB/s eta 0:00:00
Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl (226 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.60.1-cp313-cp313-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ---------------------------------------- 2.3/2.3 MB 37.1 MB/s eta 0:00:00
Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl (73 kB)
Downloading pillow-11.3.0-cp313-cp313-win_amd64.whl (7.0 MB)
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   ---------------------------------------- 7.0/7.0 MB 38.0 MB/s eta 0:00:00
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib

   ---------------------------------------- 0/7 [pyparsing]
   ---------------------------------------- 0/7 [pyparsing]
   ---------------------------------------- 0/7 [pyparsing]
   ---------------------------------------- 0/7 [pyparsing]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----------- ---------------------------- 2/7 [kiwisolver]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ---------------------------- ----------- 5/7 [contourpy]
   ---------------------------- ----------- 5/7 [contourpy]
   ---------------------------- ----------- 5/7 [contourpy]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------------- 7/7 [matplotlib]

Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.7 pillow-11.3.0 pyparsing-3.2.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot
from datetime import datetime

In [2]:
# importamos los datos y creamos df
df = pd.read_excel("sprint10.xlsx", header=3)

<b>Ejercicio 1</b>

In [3]:
df=df.sort_values(["País d'origen","Ciutat"])
print(df.head(n=10))

# comparación de valores únicos
print(f"Número de DNIs únicos: {df["DNI"].nunique()}, número de filas del df: {len(df)}. Por lo tanto, todos los DNI son únicos?: {df["DNI"].nunique() == len(df)}")

     Unnamed: 0    Nom              Cognoms        DNI País d'origen   Ciutat  \
21           21    Mia    Schneider Fischer  28973553Z      Alemanya   Berlín
154         154  Laura    Schneider Fischer  37399141L      Alemanya   Berlín
224         224    Lea  Schneider Schneider  37368317L      Alemanya   Berlín
278         278    Mia              Fischer  21390098Z      Alemanya   Berlín
602         602  Jonas            Schneider  44060014R      Alemanya   Berlín
871         871    Lea              Fischer  14773153R      Alemanya   Berlín
281         281    Lea               Müller  23266650S      Alemanya  Hamburg
435         435   Anna               Müller  83274277X      Alemanya  Hamburg
444         444  Laura       Schmidt Müller  60161784X      Alemanya  Hamburg
487         487  Lukas       Müller Fischer  60982309S      Alemanya  Hamburg

     Dia de Naixement  Mes de Naixement  Any de Naixement Gènere  \
21                 22                10              1976      A
154                 2                 2              1958      D
224                23                10              2005      D
278                11                 8              1950      D
602                22                11              1985      H
871                 9                 9              1986      D
281                14                 4              2003      D
435                 1                 1              1987      D
444                15                 6              1987     NC
487                28                 3              1971      H

    Salari mensual  Fills  No Fills Grup Professional
21           951 €    NaN       1.0            Grup A
154        1.769 €    1.0       NaN            Grup B
224        2.013 €    NaN       1.0            Grup B
278        1.557 €    1.0       NaN            Grup B
602        2.754 €    1.0       NaN            Grup D
871        1.370 €    1.0       NaN            Grup A
281        1.314 €    NaN       1.0            Grup A
435        2.464 €    NaN       1.0            Grup C
444        2.035 €    1.0       NaN            Grup C
487        2.042 €    NaN       1.0            Grup B
Número de DNIs únicos: 1000, número de filas del df: 1000. Por lo tanto, todos los DNI son únicos?: True

<b>Ejercicio 2</b>

In [4]:
df.insert(loc=3,column='Nom Complet',value=df["Nom"]+" "+df["Cognoms"])
df.insert(loc=3,column="És d'Espanya",value=np.where(df["País d'origen"] == "Espanya","Sí","No"))
# set el índice del df
df = df.set_index("DNI")

df = df.rename(columns={'Dia de Naixement': 'Dia'})
df = df.rename(columns={'Mes de Naixement': 'Mes'})
df = df.rename(columns={'Any de Naixement': 'Any'})

df['Gènere']=df["Gènere"].replace("H","Home").replace("D","Dona").replace("A","Altres").replace("NC",np.nan)
# el número 9 es género NaN
df.head(n=9)

,Unnamed: 0,Nom,Cognoms,És d'Espanya,Nom Complet,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,No Fills,Grup Professional
DNI,,,,,,,,,,,,,,,
28973553Z,21,Mia,Schneider Fischer,No,Mia Schneider Fischer,Alemanya,Berlín,22,10,1976,Altres,951 €,NaN,1.0,Grup A
37399141L,154,Laura,Schneider Fischer,No,Laura Schneider Fischer,Alemanya,Berlín,2,2,1958,Dona,1.769 €,1.0,NaN,Grup B
37368317L,224,Lea,Schneider Schneider,No,Lea Schneider Schneider,Alemanya,Berlín,23,10,2005,Dona,2.013 €,NaN,1.0,Grup B
21390098Z,278,Mia,Fischer,No,Mia Fischer,Alemanya,Berlín,11,8,1950,Dona,1.557 €,1.0,NaN,Grup B
44060014R,602,Jonas,Schneider,No,Jonas Schneider,Alemanya,Berlín,22,11,1985,Home,2.754 €,1.0,NaN,Grup D
14773153R,871,Lea,Fischer,No,Lea Fischer,Alemanya,Berlín,9,9,1986,Dona,1.370 €,1.0,NaN,Grup A
23266650S,281,Lea,Müller,No,Lea Müller,Alemanya,Hamburg,14,4,2003,Dona,1.314 €,NaN,1.0,Grup A
83274277X,435,Anna,Müller,No,Anna Müller,Alemanya,Hamburg,1,1,1987,Dona,2.464 €,NaN,1.0,Grup C
60161784X,444,Laura,Schmidt Müller,No,Laura Schmidt Müller,Alemanya,Hamburg,15,6,1987,NaN,2.035 €,1.0,NaN,Grup C

<b>Ejercicio 3</b>

In [5]:
# Por cada valor en Fills, valida la condición lambda
df["Fills"] = df["Fills"].apply(lambda x: "Sí" if x > 0.0 else "No")
df = df.drop("No Fills", axis=1)
df.head()

,Unnamed: 0,Nom,Cognoms,És d'Espanya,Nom Complet,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,Grup Professional
DNI,,,,,,,,,,,,,,
28973553Z,21,Mia,Schneider Fischer,No,Mia Schneider Fischer,Alemanya,Berlín,22,10,1976,Altres,951 €,No,Grup A
37399141L,154,Laura,Schneider Fischer,No,Laura Schneider Fischer,Alemanya,Berlín,2,2,1958,Dona,1.769 €,Sí,Grup B
37368317L,224,Lea,Schneider Schneider,No,Lea Schneider Schneider,Alemanya,Berlín,23,10,2005,Dona,2.013 €,No,Grup B
21390098Z,278,Mia,Fischer,No,Mia Fischer,Alemanya,Berlín,11,8,1950,Dona,1.557 €,Sí,Grup B
44060014R,602,Jonas,Schneider,No,Jonas Schneider,Alemanya,Berlín,22,11,1985,Home,2.754 €,Sí,Grup D

<b>Ejercicio 4</b>

In [6]:
# la tabla requiere transformaciones; prefiero usar otro df
test_df = df.copy()

In [7]:
def transformar_salari(test_df):
    # transformamos "salari mensual" para operar (uso la función en el Nivel 2)
    test_df["Salari mensual"] = test_df["Salari mensual"].str.replace("€","").str.replace(".","").astype(float)
    return test_df

test_df = transformar_salari(test_df)
# creamos la tabla resumen y redondeamos
resum = test_df.groupby("Gènere")["Salari mensual"].agg(["mean","median","min","max"])
resum["mean"] = resum["mean"].round(2)

resum.sort_values("mean")

           mean  median    min     max
Gènere
Dona    1469.44  1361.5  665.0  3021.0
Altres  1626.59  1545.0  703.0  3175.0
Home    1643.25  1531.0  737.0  3356.0

<b>Ejercicio 5</b>

In [8]:
# tabla resumen por género y país
resum2 = test_df.pivot_table(index="Gènere", columns="País d'origen", values="Salari mensual", aggfunc="mean",margins=True, margins_name="Mitjana")
# añade color
resum2.style.background_gradient(cmap='YlOrRd', axis=None)

<b>Ejercicio 6</b>

In [9]:
df.insert(loc=7,column='Data Naixement',value=df["Dia"].astype(str)
          +"-"+df["Mes"].astype(str)
          +"-"+df["Any"].astype(str))
# transforma a datetime dtype
df["Data Naixement"] = pd.to_datetime(df["Data Naixement"], dayfirst=True)

# calcular edad
def age(df):
    age = []
    date_now = pd.Timestamp.today()
    y_now, m_now, d_now = date_now.year, date_now.month, date_now.day
    
    # validamos si ya a pasado su cumpleaños
    not_had_birthday_yet = (df["Mes"] > m_now) | ((df["Mes"] == m_now) & (df["Dia"] > d_now))
    # si not_had_birthday_yet = True, pandas restará 1 a la edad (df[] - True == df[] - 1)
    return y_now - df["Any"] - not_had_birthday_yet

# insertar columna edad en lugar específico
df.insert(loc=7,column='Edat',value=age(df))

df.head()

,Unnamed: 0,Nom,Cognoms,És d'Espanya,Nom Complet,País d'origen,Ciutat,Edat,Data Naixement,Dia,Mes,Any,Gènere,Salari mensual,Fills,Grup Professional
DNI,,,,,,,,,,,,,,,,
28973553Z,21,Mia,Schneider Fischer,No,Mia Schneider Fischer,Alemanya,Berlín,48,1976-10-22,22,10,1976,Altres,951 €,No,Grup A
37399141L,154,Laura,Schneider Fischer,No,Laura Schneider Fischer,Alemanya,Berlín,67,1958-02-02,2,2,1958,Dona,1.769 €,Sí,Grup B
37368317L,224,Lea,Schneider Schneider,No,Lea Schneider Schneider,Alemanya,Berlín,19,2005-10-23,23,10,2005,Dona,2.013 €,No,Grup B
21390098Z,278,Mia,Fischer,No,Mia Fischer,Alemanya,Berlín,75,1950-08-11,11,8,1950,Dona,1.557 €,Sí,Grup B
44060014R,602,Jonas,Schneider,No,Jonas Schneider,Alemanya,Berlín,39,1985-11-22,22,11,1985,Home,2.754 €,Sí,Grup D

<h3><center>NIVEL 2</center></h3>

<b>Ejercicio 1</b>

In [10]:
df_increment = pd.DataFrame({"Grup":["Grup A","Grup B","Grup C", "Grup D" ] , "Increment":["5%","3,5%","2%","8%"]})
df_increment

     Grup Increment
0  Grup A        5%
1  Grup B      3,5%
2  Grup C        2%
3  Grup D        8%

In [11]:
# transformando una copia del df
new_df = df.copy()

In [12]:
# hacemos merge a los dos dfs, en función del Grup Professional. Añadimos por defecto ambas columnas grup y increment
new_df = new_df.merge(
    df_increment[["Grup", "Increment"]],
    left_on="Grup Professional",
    right_on="Grup",
    how="left"
)
# borramos Grup
new_df = new_df.drop("Grup", axis=1)

In [13]:
# transformamos Salari mensual con la función del Nivel 1
new_df = transformar_salari(new_df)
# y se aplica el incremento
new_df["Salari mensual"] = new_df["Salari mensual"] * (
        new_df["Increment"].str.replace("%","").str.replace(",",".")
        .astype(float) / 100 + 1
    ).round(2)

new_df.head()

,Unnamed: 0,Nom,Cognoms,És d'Espanya,Nom Complet,País d'origen,Ciutat,Edat,Data Naixement,Dia,Mes,Any,Gènere,Salari mensual,Fills,Grup Professional,Increment
0,21,Mia,Schneider Fischer,No,Mia Schneider Fischer,Alemanya,Berlín,48,1976-10-22,22,10,1976,Altres,998.55,No,Grup A,5%
1,154,Laura,Schneider Fischer,No,Laura Schneider Fischer,Alemanya,Berlín,67,1958-02-02,2,2,1958,Dona,1822.07,Sí,Grup B,"3,5%"
2,224,Lea,Schneider Schneider,No,Lea Schneider Schneider,Alemanya,Berlín,19,2005-10-23,23,10,2005,Dona,2073.39,No,Grup B,"3,5%"
3,278,Mia,Fischer,No,Mia Fischer,Alemanya,Berlín,75,1950-08-11,11,8,1950,Dona,1603.71,Sí,Grup B,"3,5%"
4,602,Jonas,Schneider,No,Jonas Schneider,Alemanya,Berlín,39,1985-11-22,22,11,1985,Home,2974.32,Sí,Grup D,8%

<b>Ejercicio 2</b>

In [19]:
for grup in ("A","B","C","D"):
    new_df.loc[new_df["Grup Professional"] == f"Grup {grup}"].to_excel(f"dades_Grup{grup}.xlsx", index=False)

In [29]:
resumen = new_df.groupby("Grup Professional").agg(
    treballadors=("Grup Professional", "count"),
    sou_mig=("Salari mensual", "mean"),
    edat_mediana=("Edat", "median")
    # índice a columna
).reset_index()
resumen["sou_mig"] = resumen["sou_mig"].round(2) 

# Guardar en Excel
resumen.to_excel("resumen_grups.xlsx", index=False)

resumen

  Grup Professional  treballadors  sou_mig  edat_mediana
0            Grup A           490  1213.32          50.0
1            Grup B           318  1716.22          47.0
2            Grup C           137  2289.19          51.0
3            Grup D            55  3100.82          43.0